/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
.top-margin {
  margin-top: 2em; }

.panel {
  border: none; }

p {
  color: #666666; }

.top-bar-section ul li > a.current {
  color: #af0015; }

.outline {
  border: 1px solid #999999; }

.top-bar .toggle-topbar.menu-icon {
  right: 2em;
  margin-top: 2.5em; }

.inline-list {
  margin-bottom: 0; }

.lead {
  padding-bottom: 1em; }

.top-bar-section li a:not(.button) {
  padding-left: 1.5em;
  padding-right: 1.5em; }

html {
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  background: #f6f6ef;
  height: 100%; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -12em; }

.page-wrap:after {
  content: "";
  display: block; }

.feature {
  background-image: url("../img/crass-closeup.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10em 0 0 0; }

.headline {
  font-family: "FiraSans-Light", "Helvetica", Helvetica, Arial, sans-serif; }
  .headline p {
    font-size: 2em;
    color: #fff;
    line-height: 1.35em; }

.contact-bar {
  background: #6e000f;
  padding: 2em 0; }
  .contact-bar h4 {
    color: #fff;
    font-family: "FiraSans-Medium", "Helvetica", Helvetica, Arial, sans-serif; }
  .contact-bar p {
    color: #fff; }

.footer {
  background: #af0015;
  padding: 2em 0 1.5em 0;
  height: 12em; }
  .footer p {
    color: #fff;
    font-size: .75em; }
  .footer a {
    color: #fff;
    font-size: .875em; }
  .footer a:hover {
    color: #ccc; }
  .footer ul {
    margin-left: 0; }
  .footer li {
    list-style-type: none;
    list-style-position: inside; }
  .footer h5 {
    color: #6e000f;
    font-family: "FiraSans-Medium", "Helvetica", Helvetica, Arial, sans-serif; }

.logo {
  width: 13em;
  height: 10em;
  display: block;
  margin-top: 1em; }

.social-icons {
  font-size: 2.5em;
  width: 70%;
  margin-left: 25%; }

.outline-button {
  padding: 1rem 2rem;
  border: 2px solid white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-family: "FiraSans-Regular", "Helvetica", Helvetica, Arial, sans-serif;
  transition: color 300ms ease-out;
  -webkit-transition: color 400ms ease-out;
  -moz-transition: color 400ms ease-out; }
  .outline-button:hover {
    background: #fff; }

/* TODO: Kill this style if not used */
/*.new-button {
	@include button;
} */
h1 {
  color: #224777;
  color: #224777;
  color: #224777; }

.pictures {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0; }

.donate-home {
  margin: 10em 0; }
  .donate-home p {
    color: #fff;
    font-family: "FiraSans-Regular", "Helvetica", Helvetica, Arial, sans-serif; }

.cm-form {
  width: 80%;
  margin: 0 auto; }
  .cm-form label {
    color: #fd344c;
    text-align: left;
    padding-left: .5em; }

.about-top {
  padding: 2.5em 0;
  background-color: #fff;
  width: 100%;
  margin-bottom: 2.5em;
  border-bottom: 2px solid #deddbe;
  background-image: url("../img/steve-bio.png");
  background-repeat: no-repeat;
  background-position: 95% 0;
  min-height: 33em; }

.bottom-pad {
  padding-bottom: 3em; }

/* Define mobile styles */
@media only screen {
  .about-top {
    background-image: none; }

  .top-bar .name {
    height: 8.5em; }

  ul.right li a {
    background-color: #efefee; }

  .divider {
    border-bottom: 1px solid #fff; }

  .footer {
    height: 22em; }

  .page-wrap {
    margin-bottom: -22em; } }
/* Define mobile styles */
@media only screen and (max-width: 40em) {
  .logo {
    width: 10em;
    height: 7em; }

  .logo > img {
    width: 125px;
    height: 101px; }

  .feature {
    padding: 4em 0;
    position: relative; }

  .feature::after {
    height: 100%;
    width: 100%;
    background-color: #370f13;
    content: "";
    opacity: 0.625;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }

  .contact-module {
    margin-bottom: 2em; }

  .top-bar {
    height: 8em; }

  .social-icons {
    font-size: 1.75em;
    width: 70%;
    margin-left: 22%; }

  .donate-home {
    margin: 5em 0 0 0;
    text-align: center;
    z-index: 5; }

  .headline {
    text-align: center;
    z-index: 5; }
    .headline p {
      font-size: 1.75em; }

  .about-top {
    background-image: none;
    min-height: inherit;
    padding: 0; }

  .footer {
    height: auto; }

  .page-wrap {
    margin-bottom: 2em; } }
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
  .about-top {
    background-image: url("../img/steve-bio.png");
    background-repeat: no-repeat;
    background-position: 180% 0; }

  .footer {
    height: 12em; }

  .page-wrap {
    margin-bottom: -12em; } }
@media only screen and (min-width: 820px) and (max-width: 1024px) {
  .about-top {
    background-image: url("../img/steve-bio.png");
    background-repeat: no-repeat;
    background-position: 110% 0; }

  .footer {
    height: 12em; }

  .page-wrap {
    margin-bottom: -12em; } }
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  .about-top {
    background-image: url("../img/steve-bio.png");
    background-repeat: no-repeat;
    background-position: 90% 0; }

  .footer {
    height: 12em; }

  .page-wrap {
    margin-bottom: -12em; } }
/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) {
  .feature {
    padding: 18em 0 7em 0; }

  .social-icons {
    font-size: 2.5em;
    width: 70%;
    margin-left: 30%; }

  .about-top {
    background-image: url("../img/steve-bio.png");
    background-repeat: no-repeat;
    background-position: 70% 0; }

  .footer {
    height: 12em; }

  .page-wrap {
    margin-bottom: -12em; } }
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .feature {
    padding: 22em 0 5em 0; }

  .about-top {
    background-image: url("../img/steve-bio.png");
    background-repeat: no-repeat;
    background-position: 65% 0; }

  .footer {
    height: 12em; }

  .page-wrap {
    margin-bottom: -22em; } }
